@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-stack: 'Open Sans', sans-serif;

body {
  font-family: $font-stack;
}

.navbar {
  margin-bottom: 0;
}

#logo {
  margin-left: 469px;
}

#nav-register {
  margin-right: 476px
}

.jumbotron {
  background-image: url('../images/friends.jpeg');
  background-size: cover;
  height: 630px;
  .container {
    max-width: 100%;
    margin-top: 5%;
  }
}

.container h1 {
  margin-bottom: 40px;
  position: relative;
  bottom: 5px;

}

.row .col-sm-6 img {
  height: 340px;
  margin-left: 15%;
}

.col-sm-6 ul li {
  font-size: 25px;
  font-weight: 400;
  list-style: none;
  margin-top: 90px;
}

footer div ul {
  margin-left: 30%;
  margin-top: 150px;
  margin-bottom: 40px;
     li{
      list-style: none;
      display: inline;
      margin: 15px;
    }
}



#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    .help-block {
      font-size:12px;
    }
    .bottom{
        background-color:rgba(255,255,255,.8);
        border-top:1px solid #ddd;
        clear:both;
        padding:14px;
    }
    .social-buttons{
        margin:12px 0;
    }
    .social-buttons a{
        width: 49%;
    }
    .form-group {
        margin-bottom: 10px;
    }
}

.btn-fb{
    color: #fff;
    background-color:#3b5998;
    &:hover {
      color: #fff;
      background-color:#496ebc
    }
}

.btn-tw{
    color: #fff;
    background-color:#55acee;
    &:hover {
      color: #fff;
      background-color:#59b5fa;
    }
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
        .bottom{
            background-color: inherit;
            border-top:0 none;
        }
    }
}
